@use "layout";
:root {
  font-family: monospace;
}
%default-gap {
  gap: 0.5rem 0.25rem;
}
%default-radius {
  border-radius: 0.5vmax;
}
.calculator,
.numpad {
  @extend %default-gap;
}
.calculator {
  place-self: center;
  width: min(70%, 700px);
}
.screen {
  grid-column: 1 / -1;
  padding: 1rem;
  @extend %default-radius;
  background-color: hsl(30, 24%, 87%);
  text-align: end;
  font-size: 2rem;
  &-content {
    &:not(:empty) ~ span {
      opacity: 1;
      animation: blink 0.4s infinite alternate;
    }
    ~ span {
      opacity: 0;
    }
  }
}
.numpad {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: dense;

  button {
    border: none;
    font-size: 1.4rem;
    @extend %default-radius;
    cursor: pointer;
  }
  :where(.standout) {
    background-color: hsl(34, 3%, 61%);
    color: white;
  }
}
[data-aligned] {
  grid-column: 4;
}
.equals {
  background-color: aqua;
  font-weight: 600;
}
@keyframes blink {
  to {
    opacity: 0;
  }
}
